# Object

* 데이터의 분포를 살펴본다. 
* 데이터 간의 관계를 살펴본다.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# EDA

In [3]:
# 데이터 가져오기
train_data = pd.read_csv('../../input/data/train/train.csv')
train_data

          id  gender   race  age                    path
0     000001  female  Asian   45  000001_female_Asian_45
1     000002  female  Asian   52  000002_female_Asian_52
2     000004    male  Asian   54    000004_male_Asian_54
3     000005  female  Asian   58  000005_female_Asian_58
4     000006  female  Asian   59  000006_female_Asian_59
...      ...     ...    ...  ...                     ...
2695  006954    male  Asian   19    006954_male_Asian_19
2696  006955    male  Asian   19    006955_male_Asian_19
2697  006956    male  Asian   19    006956_male_Asian_19
2698  006957    male  Asian   20    006957_male_Asian_20
2699  006959    male  Asian   19    006959_male_Asian_19

[2700 rows x 5 columns]

In [4]:
# 통계적 수치 살펴보기
train_data.describe()

               age
count  2700.000000
mean     37.708148
std      16.985904
min      18.000000
25%      20.000000
50%      36.000000
75%      55.000000
max      60.000000

In [5]:
# 데이터 정보 살펴보기
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2700 entries, 0 to 2699
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2700 non-null   object
 1   gender  2700 non-null   object
 2   race    2700 non-null   object
 3   age     2700 non-null   int64
 4   path    2700 non-null   object
dtypes: int64(1), object(4)
memory usage: 105.6+ KB

In [ ]:
# 각 피쳐 별 고유값 살펴보기
for category in train_data.columns:
    print(f'"{category}" feature has {len(train_data[category].unique())} unique values: {train_data[category].unique()}')

# Conclusion